sudo: false
dist: trusty
cache: pip
language: python
python:
  - "3.6"
install:
  - "pip install --upgrade pip"
  - "pip install pipenv"
  - "make install-requirements-dev"

script:
  - "pipenv run pytest"