[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-filters = "*"
pytest-django = "*"
django-logging-json = "*"
raven = "*"
django-extensions = "*"
django-annoying = "*"
pandas = "*"

[dev-packages]
"flake8" = "*"
"autopep8" = "*"
ipython = "*"
tox = "*"
coverage = "*"
codacy-coverage = "*"
pytest-cov = "*"
