[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-filters = "*"
pytest-django = "*"


[dev-packages]
"flake8" = "*"
"autopep8" = "*"
ipython = "*"
tox = "*"

[requires]
python_version = "3.6"

