[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
django = ">=2.0.10"
djangorestframework = "*"
djangorestframework-filters = "*"
pytest-django = "*"
django-logging-json = "*"
raven = "*"
django-extensions = "*"
django-annoying = "*"
pandas = "*"
django-rest-swagger = "*"
requests = ">=2.20.0"


[dev-packages]
"flake8" = "*"
"autopep8" = "*"
ipython = "*"
tox = "*"
coverage = "*"
codacy-coverage = "*"
pytest-cov = "*"
black = "*"